.Page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.PageHeader {
    display: flex;
    flex-direction: row;
    padding: 6px 0;
    border-bottom: 1px solid #e2e2e2;
}

.PageHeaderLeft {
}

.PageHeaderRight {
}

.PageHeaderTitle {
    flex: 1;
    text-align: center;
}

.PageContent {
    flex: 1;
}
